= render "shared/side_bar"

.chat--contents
  .header
    .left-header
      .left-header__title
        sampleグループ
      %ul.left-header__members
        Member：
        %li.member
          taro
        %li.member
          jiro
        %li.member
          saburo
    .right-header
      = link_to 'Edit', 'edit', class: 'right-header__button'
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__file
        = f.label :image, class: 'form__file__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__send'
